.main-header {
  background-color: $color-primary;
  margin-bottom: 2rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left {
    a {
      text-decoration: none;
      color: $color-white;
      font-size: 36px;
      transition: all 0.3s ease-in-out;
      display: block;

      &:hover {
        transform: translate3d(1px, 1px, 1px);
      }
    }
  }
}
